.about {
    font-family: 'Itim', cursive;
    min-height: 60vh;
    background: linear-gradient( $Beige, #fff);
    padding: 50px 0;
    .title {
        background-color: rgb(255, 227, 84, 0.8);
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
    }
    h2{
        color: $Saphirre;
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 2.3em;
    }
    .item {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin: 40px auto;
        width: 90%;
        .text {
            display: none;
            transition: ease-in-out 0.2s;
            
        }
        &:hover .content {
            height: 100%; 
        }
        &:hover .text {
            display: block;
            text-align: justify;
            font-size: 1.2em;
            height: 20vh;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
        .content {
            color: #fff;
            background-color: rgba(56, 174, 204, 0.7);
            bottom: 0;
            height: 12vh;
            position: absolute;
            width: 100%;
            border-radius: 0 0 10px 10px;
            transition: ease-in-out .4s;
            h3 {
                text-align: center;
                font-size: 1.5em;
                height: 10vh;
                width: 60%;
                margin: 0 auto;
                padding: 5px;
            }
            p{
                text-align: center;
                font-size: 1.5em;
                width: 60%;
                margin: 0 auto;
                padding: 5px;
            }
        }
    }
    //Media queries
    @media screen and (min-width: 768px) {
        .about-item {
            display: flex;
        }
        .item {
            width: 30%;
            .content {
                .text {
                margin-top: 50px;
                }
            }
        }
    }
 
            
}