
body {
    background-color: $Beige;
    margin: 0;
    padding: 0;
}

#header {
    height: 100vh;
    background-image: url("/images/flower.jpg");
    background-position: center;
    background-size: cover;
    .social {
        background-color: $Beige;
        display: flex;
        justify-content: center;
        .item img {
            width: 26px;
            height: 26px;
            margin: 10px 20px;
        }
    }
    .title {
        width: 80%;
        margin: 50px auto;
        text-align: center;
        color: $Beige;
        font-family: 'Itim', cursive;
        h1 {
            font-size: 1em;
        }
        p { 
            font-size: 2.4em;
            margin-bottom: 75%;
        }
        .logo {
            width: 90px;
        }
        
    }
//Media queries
    @media screen and (min-width: 768px) {
        .title {
            p {
                margin-bottom: 15%; 
                font-size: 2.8em;
            }
        }
    
    }
    @media screen and (min-width: 1280px) {
        .title {
            p {
                margin-bottom: 15%; 
                font-size: 3em;
            }
        }
    
    }
    
}
